
nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
    button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    a.navbar-brand(href="#") TraDate
    div.collapse.navbar-collapse(id="navbarNavDropdown")
        ul.navbar-nav
            li.nav-item
                a.nav-link(href="#") Home
            li.nav-item
                a.nav-link(href="/user") Můj účet
            li.nav-item
                a.nav-link(href="#") Dokumentace
            li.nav-item
                a.nav-link(href="/settings") Nastavení
            li.nav-item
                a.nav-link(href="/orders") Objednávky
            li.nav-item
                a.nav-link(href="/users") Uživatelé
            li.nav-item
                a.nav-link(href="/stats") Statistika
            li.nav-item
                a.nav-link(href="/send-mail") Mailer






